<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SysLogMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.SysLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="targetId" column="target_id" jdbcType="INTEGER"/>
            <result property="oldValue" column="old_value" jdbcType="VARCHAR"/>
            <result property="newValue" column="new_value" jdbcType="VARCHAR"/>
            <result property="operator" column="operator" jdbcType="VARCHAR"/>
            <result property="operateTime" column="operate_time" jdbcType="TIMESTAMP"/>
            <result property="operateIp" column="operate_ip" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,target_id,
        old_value,new_value,operator,
        operate_time,operate_ip,status
    </sql>
</mapper>
